{% extends 'base.html' %}
{% block titulo %}Listado de Alumnos{% endblock titulo %}
{% block contenido %}
	<div class="container">
		<div class="row mt-2">
			<div class="table-responsive">
				<table class="table">
					<thead class="table-danger">
						<tr>
							<th>Curso</th>
							<th>Turno</th>
							<th>Dias</th>
							<th>-</th>
							<th>-</th>
							<th>-</th>
							<th>-</th>
							<th>-</th>
							<th>-</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1er Año</td>
							<td>Turno Mañana</td>
							<td>Lunes y Miercoles</td>
							<td><a href="#">Enlace</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>1er Año</td>
							<td>Turno Tarde</td>
							<td>Lunes y Miercoles</td>
							<td><a href="#">Enlace</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>1er Año</td>
							<td>Turno Mañana</td>
							<td>Martes y Jueves</td>
							<td><a href="#">Enlace</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>1er Año</td>
							<td>Turno Tarde</td>
							<td>Martes y Jueves</td>
							<td><a href="#">Enlace</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock contenido %}