/* @import url('https://fonts.googleapis.com/css?family=Righteous'); */
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

body {
	/* background: #f1f2f6;*/
	background: #f7f1e3;
}

.navbar {
	/* font-family: 'Righteous', cursive;*/
	font-family: 'ZCOOL KuaiLe', cursive;
}

.dropdown-divider {
	border-top: 1px solid #000;
}

footer {
	background: #151515;
}

footer h5 {
	color: #f5a637;
}

footer ul li {
	color: #fff;
}

footer ul li a {
	color: #fff;
}

@media (max-width: 768px) {
	.ocultar {
		visibility: hidden;
	}
}