{% extends 'base.html' %}
{% load static %}
{% block titulo %}EPET 20: Inicio{% endblock titulo %}
{% block contenido %}
<div class="row mt-2 mb-3">
	<div class="col-md-12">
		<img src="{% static 'img/banner.png' %}" class="img-fluid rounded mx-auto d-block mt-2 mb-2" alt="banner">
		<ul class="nav nav-pills justify-content-center">
			<li class="nav-item">
				<a class="nav-link" href="http://www.neuquen.edu.ar/" target="_blank">Consejo Provincial de Educación</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://www.anses.gob.ar/" target="_blank">Anses</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://www.educ.ar/" target="_blank">Portal de Educación</a>
			</li>
		</ul> <!-- nav -->
	</div> <!-- col-md-12 -->
</div> <!-- row mt-2 mb-3 -->
<div class="container">
	<div class="row mb-3">	
		<div class="col-md-3">
			<img src="{% static 'img/cpe.png' %}" class="ocultar" class="img-fluid rounded mx-auto d-block mt-4 mb-4 " alt="cpe">
			<img src="{% static 'img/kisi.png' %}" class="ocultar" class="img-fluid rounded mx-auto d-block mt-4 mb-4 " alt="kisi">
			<img src="{% static 'img/conectarnqn.png' %}" class="ocultar" class="img-fluid rounded mx-auto d-block mt-4 mb-4 " alt="conectarnqn">
			<img src="{% static 'img/conectarnqn2.png' %}" class="ocultar" class="img-fluid rounded mx-auto d-block mt-4 mb-4 " alt="conectarnqn2">
		</div> <!-- col-md-4 -->
		<div class="col-md-9">
			{% for novedad in novedades  %}
			<div class="media mt-4">
				<img class="align-self-center mr-3" src="{% static 'img/pencil.png' %}" alt="{{ novedad.titulo }}">
				<div class="media-body">
					<h6 class="alert alert-dark"><a href="{% url 'web:novedad_id' novedad.slug %}">{{ novedad.titulo|title }}</a></h6>
					<h6 class="mt-0">{{ novedad.categoria|title }}</h6>
					<p>{{ novedad.subtitulo|title|safe|escape }}</p>		
				</div>
			</div>
			{% empty %}
				<div class="alert alert-dark" role="alert">
					Por el momento no tenemos publicaciones.
				</div>
			{% endfor %}			
		</div> <!-- col-md-8 -->
	</div> <!-- row -->
</div> <!-- container -->
<footer class="pt-5 pb-5">
	<div class="container">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<h5>Redes sociales</h5>
					<ul>
						<li><a href="#" target="_black">Facebook</a></li>
						<li><a href="#" target="_black">Instragram</a></li>
						<li><a href="#" target="_black">Whatsapp</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-sm-12">
					<h5>Enlaces</h5>
					<ul>
						<li><a href="#" target="_black">1</a></li>
						<li><a href="#" target="_black">2</a></li>
						<li><a href="#" target="_black">3</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
{% endblock contenido %}