{% extends 'base.html' %}
{% load static %}
{% block titulo %}EPET 20: Inicio{% endblock titulo %}
{% block contenido %}
<div class="row mt-2 mb-3">
	<div class="col-md-12">
		<img src="{% static 'img/banner.png' %}" class="img-fluid rounded mx-auto d-block mt-2 mb-2" alt="banner">
		<ul class="nav nav-pills justify-content-center">
			<li class="nav-item">
				<a class="nav-link" href="http://www.neuquen.edu.ar/" target="_blank">Consejo Provincial de Educación</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://www.anses.gob.ar/" target="_blank">Anses</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://www.educ.ar/" target="_blank">Portal de Educación</a>
			</li>
		</ul> <!-- nav -->
	</div> <!-- col-md-12 -->
</div> <!-- row mt-2 mb-3 -->
<div class="container">
	<div class="row">	
		<div class="col-md-3">
			<img src="{% static 'img/cpe.png' %}" class="img-fluid rounded mx-auto d-block mt-2 mb-2" alt="cpe">
			<img src="{% static 'img/kisi.png' %}" class="img-fluid rounded mx-auto d-block mt-2 mb-2" alt="kisi">
		</div> <!-- col-md-4 -->
		<div class="col-md-9">
			{% for novedad in novedades  %}
				<div class="card text-center">
					<div class="card-header">
						{{ novedad.categoria|title }}
					</div>
					<div class="card-body">
						<h5 class="card-title">{{ novedad.titulo|title|safe|escape }}</h5>
						<p class="card-text">{{ novedad.subtitulo|title|safe|escape }}</p>
						<a href="{% url 'web:novedad_id' novedad.id %}" class="btn btn-primary">Leer mas</a>
					</div>
					<div class="card-footer text-muted">
						Publicado por: {{ novedad.user.last_name|title }}, {{ novedad.user.first_name|title }} - Fecha {{ novedad.fecha_publicación }}
					</div>
			</div>
			{% empty %}
				<div class="alert alert-dark" role="alert">
					Por el momento no tenemos publicaciones.
				</div>
			{% endfor %}			
		</div> <!-- col-md-8 -->
	</div> <!-- row -->
</div> <!-- container -->
{% endblock contenido %}