{% extends 'base.html' %}
{% block titulo %}Taller{% endblock titulo %}
{% block contenido %}
<div class="container">
	<div class="row mt-3">
		<div class="col-md-12">
			<h6 class="text-center">Primer año</h6>
		</div>
		<table class="table table-sm">
			<thead class="table-success text-center">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Taller</th>
					<th scope="col">Programa</th>
					<th scope="col">Carpeta</th>
					<th scope="col">Previos</th>
				</tr>
			</thead>
			<tbody class="text-center">
				<tr>
					<td>01</td>
					<td>Ajuste</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>02</td>
					<td>Carpinteria</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>03</td>
					<td>Electricidad</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>04</td>
					<td>Hojalateria</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div> <!-- row -->
	<div class="row mt-3">
		<h5>Año: 02</h5>
		<table class="table table-sm">
			<thead>
				
			</thead>
		</table>
	</div>
</div>
{% endblock contenido %}